---
layout: layouts/home.njk
eleventyNavigation:
  key: Photos
  order: 3
  url: /#photos
---

<h1>Gallery</h1>

<div class="w3-row-padding" style="margin:0 -16px">
<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  /* Create two equal columns that sit next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  {% raw %}
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  {% endraw %}
</style>
<div class="row">
  <div class="column">
  {% for post in collections.photo %}
    {% if loop.index==8 %}
      </div><div class="column">
    {% endif %}
    <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%;margin-bottom:0px" > </a>
  {% endfor %}
  </div>
</div>
