---
layout: layouts/home.njk
eleventyNavigation:
  key: Photos
  order: 3
  url: /#photos
---

<h1>Gallery</h1>

<div class="w3-row-padding" style="margin:0 -16px">
  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 0.5rem;
      justify-items: center;
      margin: 0;
      padding: 0;
    }
    .grid_frame {
      font-size: 1.2rem;
      text-align: center;
    }
    .grid_img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: opacity 0.25s ease-in-out;
    }
    .grid_img:hover {
      opacity: .7;
    }
  </style>
  <div class="grid">
    {% for post in collections.photo %}
      <a href="{{ post.url | url}}" class="grid_frame">
        <img src = "{{ post.data.image | url }}" class="grid_img">
      </a>
    {% endfor %}
  </div>
</div>
