  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-row-padding" style="margin:0 -16px">
      <style>
        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
          grid-gap: 0.5rem;
          justify-items: center;
          margin: 0;
          padding: 0;
        }
        .grid_frame {
          font-size: 1.2rem;
          text-align: center;
        }
        .grid_img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          transition: opacity 0.25s ease-in-out;
        }
        .grid_img:hover {
          opacity: .7;
        }
      </style>
      <div class="grid">
        {% for post in collections.photo | head(-6) %}
          <a href="{{ post.url | url}}" class="grid_frame">
            <img src = "{{ post.data.image | url }}" class="grid_img">
          </a>
        {% endfor %}
      </div>
      <p>
        More photos can be found in <a href="{{ '/photos/' | url }}">the gallery</a>.
      </p>
    </div>
  </div>
